.dashboard {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.widgets-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.track-visuals {
    width: 30%;
    height: 500px;
}
